node_modules/
out/
dist/
*.vsix

npm-debug.log*
yarn-error.log
yarn-debug.log

.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
*.code-workspace

.DS_Store
Thumbs.db